:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#FEBA17;
    --tri1:#74512D;
}

@font-face {
    font-family: font1;
    font-weight: 200;
    src: url('./fonts/Aeonika-BF66fcc5a8cc5db.otf');
}

@font-face {
    font-family: font2;
    font-weight: 500;
    src: url('./fonts//fonnts.com-Aeonik-Bold.ttf');
}

@font-face {
    font-family: font1;
    src: url('./fonts//fonnts.com-Aeonik-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);

}
h1{
    font-size: 5vw;
    color: var(--pri);
}
