:root{
    --pri:#F8F4E1;
    --sec:#411c03;
    --tri1:#e2a61adc;
    --tri2:#654525;
    --red:red;
}

@font-face {
    font-family: font3;
    font-weight: 200;
    src: url('./fonts/Aeonik\ Regular.ttf');
}

@font-face {
    font-family: font2;
    font-weight: 500;
    src: url('./fonts/fonnts.com-Aeonik-Bold.ttf');
}

@font-face {
    font-family: font1;
    font-weight: 400;
    src: url('./fonts/fonnts.com-Aeonik-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    color: var(--pri);
    font-family: font1;

}
nav{
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElem{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 80px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}
.elem{
    height: 400px;
    width: 280px;
    position: relative;
    overflow: hidden;
    background-color: var(--tri1);
    font-size: 20px;
    border-radius: 20px;
    transition: all ease 0.3s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h1{
    position: absolute;
    bottom: 5%;
    right: 7%;
    font-size: 2vw;
    font-weight: 700;
    font-family: font1;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    width: 100%;
    height: 100%;
    background-color: var(--sec);
    padding: 20px;
    position: absolute;
    display: none;
}
.back{
    position: absolute;
    right: 2%;
    font-size: 1.2vw;
    padding: 5px 7px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    color: white;
}
.back:active{
    scale: 0.97;
}

.todo-list-fullPage h2{
    font-size: 3vw;
}
.todo-list-fullPage .todo-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3vw;
    height: 80%;
}
.todo-list-fullPage .todo-container .addTask{
    width: 32%;
    border-radius: 20px;
    background-color: var(--tri2);
}
.todo-list-fullPage .todo-container .allTask{
    width: 65%;
    border-radius: 20px;
    padding: 12px 20px ;
    overflow: auto;
    background-color: var(--tri2);
}

.todo-list-fullPage .todo-container .addTask form{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.todo-container .addTask form #task-input{
    width: 100%;
    color: var(--pri);
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background-color: var(--sec);
}
.todo-container .addTask form textarea{
    width: 100%;
    color: var(--pri);
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--sec);
}
.todo-container .addTask form button{
    width: 100%;
    height: 40%;
    font-size: 2vw;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    resize: none;
    font-weight: 600;
    color: var(--pri);
    background-color: var(--tri1);
    cursor: pointer;
    transition: all ease 0.2s;
}

.todo-container .addTask form button:active{
    scale: 0.97;
}


.todo-list-fullPage .todo-container .allTask .task{
    width: 100%;
    background-color: var(--pri);
    color: var(--sec);
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
}
.todo-container .allTask .task h2{
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    gap: 10px;
}
.task h2 span{
    background-color: var(--red);
    color: var(--pri);
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 0.9vw;
}
.task h2 span.true{
    opacity: 1;
}
.task h2 span.false{
    opacity: 0;
}
.todo-container .allTask .task button{
    background-color: green;
    font-size: 1.5vw;
    color: var(--pri);
    border-radius: 10px;
    padding: 6px 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.2s;
}
.todo-container .allTask .task button:active{
    scale: 0.97;
}
.check-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    width: 100%;
    margin-top: 1vw;
    gap: 10px;
    padding: 4px 7px;

}
.check-box input{
    scale: 1.5;
}
.check-box label{
    font-size: 1.2vw;
}
.check-box input,label{
    cursor: pointer;
}





.Daily-planner-fullPage h1{
    font-size: 3vw;
}
.Daily-planner-fullPage .day-planner{
    margin-top: 1vw;
    width: 100%;
    height: 90%;
    background-color: var(--tri2);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.day-planner .day-planner-time{
    align-items: center;
    position: relative;
    display: flex;
    width: 49%;
    margin-bottom: 15px;
    /* background-color: var(--sec); */
}
.day-planner .day-planner-time p{
        position: absolute;
        top: 2%;
        font-size: 1.2vw;
        letter-spacing: 0.5px;
        color: var(--tri1);
        font-weight: 700;
        left: 1%;

}
.day-planner .day-planner-time input{
    width: 100%;
    padding: 17px 30px;
    font-size: 1.3vw;
    background-color: var(--sec);
    border-radius: 10px;
    color: var(--pri);
    border: none;
    font-weight: 600;
    margin-top: 23px;
    outline: none;
}





.motivation-fullPage-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.motivation-fullPage .motivation-container{
    /* background-color: var(--tri2); */
    width: 450px;
    height: 400px;
    position:relative;
    border-radius: 20px;

}

.motivation-fullPage .motivation-container::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: var(--tri1);
    scale: 1.1;
    z-index: 8;
    filter: blur(100px);
    
}
.motivation-fullPage .motivation-container .motivation-wrapper{
    width: 100%;
    background-color: var(--tri1);
    position: absolute;
    z-index: 10;
    border-radius: 20px;
    padding: 10px 10px;
    flex-wrap: nowrap;
}

.motivation-1{
    border-radius: 10px;
    padding: 15px;
    background-color: var(--tri2);
}
.motivation-1 h2{
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 3px;
}
.motivation-2{
    padding: 10px;
}
.motivation-2 p{
    font-size: 1.7vw;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: 700;
    color: var(--sec);
}
.motivation-3 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.motivation-3 h3{
   font-size: 1vw;
   letter-spacing: 2px;
   margin-top: 10px;
}


.motivation-wrapper .img1{
    width: 15px;
    position: absolute;
    top: 30%;
    opacity: 0.5;
}
.motivation-wrapper .img2{
    width: 15px;
    position: absolute;
    bottom: 10%;
    right: 5%;
    opacity: 0.5;
}

