:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#FEBA17;
    --tri2:#74512D;
}

@font-face {
    font-family: font3;
    font-weight: 200;
    src: url('./fonts/Aeonik\ Regular.ttf');
}

@font-face {
    font-family: font2;
    font-weight: 500;
    src: url('./fonts/fonnts.com-Aeonik-Bold.ttf');
}

@font-face {
    font-family: font1;
    font-weight: 400;
    src: url('./fonts/fonnts.com-Aeonik-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    color: var(--pri);
    font-family: font1;

}
nav{
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElem{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 80px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}
.elem{
    height: 400px;
    width: 280px;
    position: relative;
    overflow: hidden;
    background-color: var(--tri1);
    font-size: 20px;
    border-radius: 20px;
    transition: all ease 0.3s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h1{
    position: absolute;
    bottom: 5%;
    right: 7%;
    font-size: 2vw;
    font-weight: 700;
    font-family: font1;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    width: 100%;
    height: 100%;
    background-color: var(--sec);
    padding: 20px;
    position: absolute;
    font-size: 60px;
    display: none;
}
.back{
    position: absolute;
    right: 2%;
    font-size: 1.2vw;
    padding: 5px 7px;
    font-weight: 600;
    border-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
}
.back:active{
    scale: 0.97;
}